html * {
    font-family: 'Roboto Slab', serif;
    
}

body.light-mode {
    background:#fcf9f3;
}

button > a {
    text-decoration: none;
    color: black;
}

button > a:hover {
    text-decoration: none;
    color: black;
}
.body.light-mode button > a {
    text-decoration: none;
    color: black;
}

.body.dark-mode button > a{
    text-decoration: none;
    color: #fcf9f3;
}


.rei-container {
    justify-content: center;
    text-align: center;
}

.wrapper {
    position: relative;
    justify-content: center;
    top: 30px;
    display: flex;
    flex-direction: row;
}

.img-area {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
}

.img-box {
    padding: 10px;
    z-index: 200;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 0 #333;
    border: 1px solid #333;
    transition: .5s;
}

.box-1 {
    z-index: 201;
}
.img-area:hover .box-1 {
    top: 2rem;
    left: -30%;
    width: 60%;
}

.img-area:hover .box-2 {
    top: 2rem;
    left: 30%;
    width: 60%;
}

.img-area:hover .box-3 {
    top: 32.2rem;
    left: -30%;
    width: 60%;
}

.img-area:hover .box-4 {
    top: 32.2rem;
    left: 30%;
    width: 60%;
}

.img-area:hover .box-5 {
    /* top: 2rem;
    left: -12rem; */
    top: 2rem;
    left: -18%;
    width: 100%;
}

.descrip {
    padding-top: 15px;
    font-size: smaller;
    padding-bottom: 10px;
}

.button .btn .btn-primary {
    padding-top: 10px;
}

.intro-container {
    width: 100%;
    height: 1000px;
    justify-content: center;
    position: relative;
}

.intro-background-blur {
    width: 100%;
    height: 100%;
    background-image: url('../images/background3.jpg');
    background-repeat: no-repeat;
    background-size: 1800px 950px;
    filter: blur(5px);
    background-position: center;
    position: relative;
    
}
.intro-wrapper {
    background-image: url('../images/background3.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-position: center;
    background-size: 1700px 900px;
    position: absolute;
    background-color: transparent;
}

.Typewriter {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;
    background: transparent;
    color: #faf6ec;
    text-shadow: black;
    font-size: 30px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.Typewriter__wrapper {
    background: transparent;
}

.Typewriter__cursor {
    background: transparent;
}

.box-arrow {
    z-index: 100;
    background: transparent;
    top: 63%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    color: black;
    opacity: 0.2;
}
.box-arrow:hover {
    color: goldenrod;
    opacity: 1;       
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.span-rest-of-site {
    z-index: 100;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: transparent;
}
/* about section */
.about {
    width: 100%;
    height: 1000px;
    top: 10%;
    
    position: relative;
}
.photo-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 80%;
    position: relative;
    top: 10%; 
    left: 3%;
    justify-content: center;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    max-width: 500px;
    overflow: scroll;
}

.photo-wrapper::-webkit-scrollbar {
    display: none
}

.about-text {
    display: block;
    position: relative;
    top: 10%;
    left: 2%;
    padding: 25px;
    max-width: 1200px;
}

.about-header {
    position: relative;
}

.about-p {
    width: 80%;
}
.about-p::before {
    content: "\a"
}

/* Header */

body.dark-mode {
    background: #181b1c;
    color: #fcf9f3;
}
/* #191c22 */

body.light-mode .github {
    color: black;
}

body.light-mode .github:hover {
    color:goldenrod;
}

body.light-mode .li {
    color: black;
}

body.light-mode .li:hover {
    color: goldenrod;
}

body.dark-mode .github {
    color: #fcf9f3;
}

body.dark-mode .github:hover {
    color: goldenrod;
}

body.dark-mode .li {
    color: #fcf9f3;
}

body.dark-mode .li:hover {
    color: goldenrod;
}

body.dark-mode .nav-header {
    background:#202526;
}

body.dark-mode .nav-outer-div {
    background:#202526;
}

body.dark-mode .nav {
    background:#202526;
}

body.light-mode .nav-header {
    background: #fcf9f3;
}

body.light-mode .nav-outer-div {
    background: #fcf9f3;
}

body.light-mode .nav {
    background: #fcf9f3;
    color:#202526;
}

body.dark-mode .navbar-brand {
    color: #fcf9f3;
    background: #202526;
}
.body.light-mode ul .nav-link {
    color: black;
}
.body.dark-mode ul .nav-link {
    color: #fcf9f3;
}

body.dark-mode ul {
    background:#202526;
    color: #fcf9f3;
    font-family: 'Lato', sans-serif;
    position: relative;
}


body.light-mode ul {
    background: #fcf9f3;
    color: black;
    font-family: 'Lato', sans-serif;
    position: relative;
}

body.light-mode ul:hover {
    color: goldenrod;
}

body.dark-mode ul:hover {
    color: goldenrod;
}

body.light-mode li {
    color: black;
}

body.dark-mode li {
    color: #fcf9f3;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #fcf9f3;
}

body.light-mode .navbar-light .navbar-nav .nav-link {
    color: black
}

body.dark-mode .navbar-light .navbar-nav .nav-link:hover {
    color: goldenrod;
}

body.light-mode .navbar-light .navbar-nav .nav-link:hover {
    color: goldenrod;
}

body.light-mode .navbar-brand:hover {
    color:goldenrod
}

body.dark-mode .navbar-brand:hover {
    color:goldenrod
}

body.dark-mode .nav-dark-light:hover{
    color:goldenrod
}

body.light-mode .nav-dark-light:hover{
    color:goldenrod
}